<div class="grid grid-cols-2 gap-4">
    @for (anime of relatedAnime(); track $index) {
        @if (anime) {
            <div class="bg-white rounded-md shadow-sm flex flex-col h-full" (click)="onAnimeSelect(anime.id)">
                <div class="aspect-[3/4] overflow-hidden">
                    <img [src]="anime.img" class="w-full h-full object-cover"/>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-xs font-semibold">{{ anime.title }}</h3>
                </div>
            </div>
        }
    }
</div>